:root {
  --color-49BEFF: #49beff;
  --color-E8F7FF: #e8f7ff;
  --color-34A1DE: #34a1de;
}

/* .secContainer{
  justify-content: center;
  align-items: center;   
} */
.hello-div {
  margin-top: 5rem;
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.hello-text {
  /* background-color: blue; */
  font-size: 40px;
  font-weight: bold;
}
.hello-image {
  /* background-color: red; */
  margin-top: -3rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
  gap: 4rem;
}
.student-div,
.employers-div {
  border-radius: 10px;
  width: 35vw;
  height: 25vh;
}
.student-div {
  border-top: 8px solid #0ba65a;
  background-color: #9bf8cb;
  border-radius: 10px;
}
.employers-div {
  border-top: 8px solid var(--color-34A1DE);
  border-radius: 10px;
  background-color: #e8f7ff;
}
.student {
  padding-left: 1rem;
  padding-top: 5px;
  font-weight: bold;
  font-size: 20px;
}
.student-text {
  padding-left: 1rem;
  padding-bottom: 5px;
}
.student-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-34A1DE);
  color: #ffffff;
  font-weight: bold;
  height: 2rem;
  border-radius: 5px;
  margin: 1rem;
  padding: 0 1rem; /* Ajoute un espace horizontal entre le texte et les bordures */
}
.learn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.learn-title {
  font-size: 3rem;
}
.mainContainer {
  gap: 1rem;
}
.singlePost {
  display: grid;
  padding: 2rem;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.singlePost.odd .imgDiv {
  order: 1;
}

.singlePost.odd .postDetails {
  order: 2;
}

.singlePost.even .imgDiv {
  order: 2;
}

.singlePost.even .postDetails {
  order: 1;
}

.imgDiv img {
  width: 100%;
  height: auto;
}

.postDetails {
  display: flex;
  flex-direction: column;
}
.imgDiv {
  height: 200px;
  width: 100%;
  border-radius: 1rem;
  border: 5px solid var(--greyBg);
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.406);
  overflow: hidden;
}
.postDetails h3 {
  color: var(--Black-color);
  font-weight: 600;
  padding-bottom: 10px;
}
.postDetails p {
  font-size: 13px;
  color: var(--text-color);
  font-weight: 500;
}
a {
  font-size: 15px;
  color: var(--Primary-color);
  font-weight: 600;
  padding-top: 0.5rem;
  width: max-content;
  &:hover {
    color: var(--Hover-color);
    font-weight: 600;

    .icon {
      transform: translateX(10px);
    }
  }
}

/*responsive*/
@media screen and (max-width: 450px) {
  .imgDiv {
    /* margin-left: 6px; */
    align-items: center;
  }
}
@media screen and (min-width: 451px) and (max-width: 884px) {
  .mainContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 450px) {
  .hello-image {
    display: none;
  }
  .hello-text {
    width: 100vw;
    font-size: 25px;
    text-align: center;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .student-div,
  .employers-div {
    border-radius: 10px;
    width: 90vw;
    height: 18vh;
  }
  .student-div {
    border-top: 8px solid #0ba65a;
    background-color: #9bf8cb;
    border-radius: 10px;
  }
  .employers-div {
    border-top: 8px solid var(--color-34A1DE);
    border-radius: 10px;
    background-color: #e8f7ff;
  }
  .student {
    padding-left: 1rem;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
  }
  .student-text {
    padding-left: 1rem;
    padding-bottom: 5px;
  }
  .student-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-34A1DE);
    color: #ffffff;
    font-weight: bold;
    height: 2rem;
    border-radius: 5px;
    margin: 1rem;
    padding: 0 1rem; /* Ajoute un espace horizontal entre le texte et les bordures */
  }
}
@media screen and (min-width: 451px) and (max-width: 840px) {
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
  .student-div,
  .employers-div {
    border-radius: 10px;
    width: 90vw;
    height: 12vh;
  }
  .student-div {
    border-top: 8px solid #0ba65a;
    background-color: #9bf8cb;
    border-radius: 10px;
  }
  .hello-image img {
    height: 300px;
    width: 800px;
    object-fit: cover;
  }
  .employers-div {
    border-top: 8px solid var(--color-34A1DE);
    border-radius: 10px;
    background-color: #e8f7ff;
  }
  .student {
    padding-left: 1rem;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
  }
  .student-text {
    padding-left: 1rem;
    padding-bottom: 5px;
  }
  .student-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-34A1DE);
    color: #ffffff;
    font-weight: bold;
    height: 2rem;
    border-radius: 5px;
    margin: 1rem;
    padding: 0 1rem; /* Ajoute un espace horizontal entre le texte et les bordures */
  }
}
