:root{
    --color-49BEFF: #49BEFF;
    --color-E8F7FF: #E8F7FF;
    --color-34A1DE: #34A1DE;
  }

.footer-container {
    background-color: hsl(0, 0%, 96%);;
    color: black;
    padding: 20px 0;
    width: 100vw;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.footer-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-link {
    color: black;
    text-decoration: none;
    font-weight: normal;
    margin: 5px 0;
}

.footer-link:hover {
    font-weight: normal;
    transform: translateX(.2rem);
    color: var(--color-34A1DE);
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-bottom {
    text-align: center;
    height: 2px;
    padding-top: 5px;
    border-top: 1px solid #444;
}

/*responsive*/
@media (max-width: 768px) {
    .footer-section {
      flex-basis: calc(50% - 20px); /* Two items per row with gap */
    }
    .footer-title {
      font-size: 1rem; /* Adjust font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .footer-section {
      flex-basis: 100%; /* Stacks items vertically */
      /* margin: 10px 0; */
      align-items: center;
    }
  }
  